.message-box {
  width: 461px;
  height: 571px;
  flex-shrink: 0;
  border-radius: 39px;
  background: rgba(217, 217, 217, 0.05);
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.68);
  backdrop-filter: blur(0.5px);
  padding: 40px;
  box-sizing: border-box;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    > .lebel {
      margin-left: 30px;
      color: #fff;
      font-family: Inter;
      font-size: 9px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 1px;
      background: #404254;
      padding: 10px;
      line-height: normal;
      text-transform: uppercase;
    }
    > input {
      width: 354px;
      height: 40px;
      flex-shrink: 0;
      background: none;
      border-radius: 6px;
      border: 1px solid #fff;
    }
  }
}
