body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
#root {
  overflow: hidden;
}
.b-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-cl {
  flex-direction: column;
}

.h-center {
  display: flex;
  justify-content: center;
}
.v-center {
  display: flex;
  align-items: center;
}

.he-f {
  height: 100%;
}

.wi-f {
  width: 100%;
}
.c-p {
  cursor: pointer;
}
