body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
#root {
  overflow: hidden;
}
.b-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-cl {
  flex-direction: column;
}

.h-center {
  display: flex;
  justify-content: center;
}
.v-center {
  display: flex;
  align-items: center;
}

.he-f {
  height: 100%;
}

.wi-f {
  width: 100%;
}
.c-p {
  cursor: pointer;
}
#mysvg {
  transition: ease-out 1s;
}
#mysvg:hover path {
  transition: ease-out 1s;
  width: 200px;
  height: 200px;
  fill: red;
  d: path(
    "M149 8C138.5 -5 133 -0.246249 91.9999 10.7538L34.9999 52.7538C0.999901 79.5 -10.5 100.464 11.9999 111L45.9999 130.789C45.9999 130.789 63.9999 140.789 83.4999 133.5C103 126.211 110.721 115 110.721 115V163C110.721 167.418 114.302 171 118.721 171H153.721C158.139 171 161.721 167.418 161.721 163V115C161.721 115 183.5 111.5 160 89C136.5 66.5 171 82.5 171 82.5L200 98C235.5 128 244.5 28.5 161.721 36L149 8Z"
  );
}
